<div style="width: 200px">
  <% form_tag :action => :update, :method => :post do %>
  <%= hidden_field_tag('project_id', @project.id) %>
  <ul>
    <% @can_see_users.each do |cs| %>
      <li><label><%= h(cs.name) %><%= check_box_tag 'user_ids[]', h(cs.id), :checked => 'yes' %></label></li>
    <% end %>
    <% @can_see_groups.each do |cs| %>
      <li><label><%= h(cs.name) %><%= check_box_tag 'user_ids[]', h(cs.id), :checked => 'yes' %></label></li>
    <% end %>
  </ul>
  <p><%= label_tag "principal_search", l(:label_principal_search) %><%= text_field_tag 'principal_search', nil %></p>
  <%= observe_field(:principal_search,
                    :frequency => 0.5,
                    :update => :principals,
                    :url => { :controller => 'cansee', :action => 'autocomplete_for_users' },
                    :with => 'q') %>
  <div id="principals">
    &nbsp;
  </div>

  <%= submit_tag l(:button_save) %>

  <% end %>
</div>

